body {
  widows: 100%;
  height: 100%;
  background: linear-gradient(to right, #0851be, #cad4d6);
  font-size: 20px;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  margin: 20px auto;
  width: 385px;
  padding: 30px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  background-color: black;
  padding: 4px;
  max-width: 360px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.item,
.item_number,
.item_operation {
  background-color: #b3e5fc;

  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}
.item_number:hover {
  background-color: green;
  color: #f2f2f2;
}

.item_operation:hover {
  background-color: #ff6a00;
  color: #f2f2f2;
}
.item:hover {
  background-color: #d83e33;
  color: #f2f2f2;
}
.item:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px #ccc;
}

.item_operation:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px #ccc;
}

.item_number:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px #ccc;
}

form {
  max-width: 100%;
}

input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 30px;
  outline: none;
  text-align: right;
}

.input {
  background-color: aliceblue;
  grid-column: 1/-1;
  padding: 0px 3px 0px 0px;
}

.zero {
  grid-column: 1/3;
}

.equal {
  grid-column: 4;
  grid-row: 5/7;
}
